[Unit]
Description=traefik proxy
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Environment="CF_DNS_API_TOKEN_FILE=/etc/traefik/traefik-cloudflare-api-token"
Environment="KUBERNETES_SERVICE_HOST=192.168.53.7"
Environment="KUBERNETES_SERVICE_PORT=6443"
User=traefik
Group=traefik

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/traefik --configfile=/etc/traefik/traefik.toml
LimitNOFILE=1048576
NoNewPrivileges=true
Restart=on-abnormal
WorkingDirectory=/etc/traefik

[Install]
WantedBy=multi-user.target
